body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    perspective: 1000px;
    background-color: black;
}
.cube{
    height:200px;
    width:200px; 
    position: relative;
    transform-style: preserve-3d;
    animation: myanimation 5s infinite linear;
}
.cube div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    border:2px solid black;


}
.top{
    transform: rotateY(90deg) translateZ(100px);
    background-color: red;
    position: absolute;
    height:200px;
    width:200px;
}

.bottom{
   
    transform: rotateY(90deg) translateZ(-100px);
    background-color: yellow;
   position: absolute;
    height:200px;
    width:200px;

}
.left{
   
    transform: rotateX(90deg) translateZ(100px);
    background-color: white;
   position: absolute;
    height:200px;
    width:200px;

}
.right{
    transform: rotateX(90deg) translateZ(-100px);
    background-color: blue;
    position: absolute;
    height:200px;
    width:200px;

}
.front{
    transform:translateZ(100px);
    background-color: orange;
    position: absolute;
    height:200px;
    width:200px;

}
.back{
    transform:translateZ(-100px);
    background-color: green;
    position: absolute;
    height: 200px;
    width:200px;

}
@keyframes myanimation{
    100%{
        transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg)
    }
}
