/*body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.parent {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.child {
  width: 200px;
  height: 200px;
  background-color: red;
  color: white;
  text-align: justify;
  padding: 10px;
  transform: rotateY(180deg);
  animation-name: myanimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes myanimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}*/
 
 body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.parent {
  transform-style: preserve-3d;
  perspective: 100px;
  transform-origin: bottom;
  perspective-origin: bottom;
  height: 300px;
  border: 1px solid white;
}

.child {
  width: 200px;
  height: 200px;
  background-color: red;
  color: white;
  text-align: justify;
  padding: 10px;
  transform: rotateY(20deg);
  animation-name: myanimation;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

@keyframes myanimation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
} 